body {
	font-family: sans-serif;
	background-color: #992600;
	color: #dfdfdf;
	margin: 0px;
}

label, #quoteSubmit, #quoteNumberInput, p {
	font-size: 20px;
}

#page-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	min-height: calc(100vh - 75px);
}

#quoteResults {
	padding: 50px;
}

h1 {
	color: #fdbd4e;
	padding-bottom: 50px;
}

h2 {
	color: #fdbd4e;
	text-align: center;
	font-size: 40px;
}

p {
	padding: 15px;
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#formItem {
	padding: 10px;
}

strong {
	color: #fdbd4e;
}

a {
	color: #dfdfdf;
}

footer {
  height: 60px;
  align-items: center;
  text-align: center;
  background-color: #661a00;
  padding-top: 40px;
}
